<div class='display'>
  <img src='/images/beer.png' alt='Beer Image' />
  <button><a href='/beers'>Check the Beers!</a></button>
  <button><a href='/random-beer'>Check a Random Beer!</a></button>
  {{! <a href='/beers'><button>Check the Beers!</button></a>
  <a href='/random-beer'><button>Check a Random Beer!</button></a> }}
</div>