/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body {
  font-size: 100%;
  background-color: #f7f9f9;
  font-family: Arial, Helvetica, sans-serif;
  
}

nav {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  background-color: #2081c3;
  gap: 20px;
}
nav a {
  text-decoration: none;
  color: #f7f9f9;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 30px;
  //background-color: #bfbfbf;
}

.display img {
  max-width: 35%;
}
.display button {
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #2081c3;
  //box-shadow: 0px 5px #bfbfbf;
}

.display a {
  text-decoration: none;
  color: #f7f9f9;
  font-weight: 500;
  font-size: 1.2rem;
}


footer{
  background-color:#0a2c42 ;
  color: #f7f9f9;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.container{
  margin: 50px 30px;
  display: flex;
  flex-direction: column;
}

.container div{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
padding-bottom: 30px;
text-align: left;
margin: 15px;



}
.beer_img{
  width: 15%;
  align-self: center;
  padding-bottom: 25px;
}

.beers-card p{
  max-width: 70%;
  text-align: justify;
  line-height: 1.25;
  font-size: 0.95rem;
}

.beers-card a{
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
}

.beers-card h4{
  color: lightgray;
  font-size: 0.85rem;
  font-weight: 400;
}